
body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-size:48px;
  margin-bottom: 3px;
}

#main_page {
  background-color: rgb(17, 16, 24);
  margin: 2.5% auto;
 
  border-radius: 10px;

  width: 400px;   
  height: 720px;

  
}

/* @media screen and (max-width: 1400px) {
  #main_page {
     width: 80%;
  }} */

.mtg_card {
background-size:contain;
background-repeat: no-repeat;
position: absolute;
width: 390px; 
height: 562px;


border: 0x solid green;
padding: 0px;
margin-left: 5px ;
margin-right: 5px ;
}

.card_form {
  display:inline-block;
  position:relative;
  padding: 200px 20% 10px 20% ;
  text-align: center;
  }
  .card_form label {
    color:white;
    } 
  .card_form input {
    margin: 5px;
    background-color: #000000a4;
    color: orange;
    border: none;
    }
    .card_form button {
      margin: 10px;
      padding: 5px;
      background-color: #521717;
      color: white;
      }
    #waiting {
      background-color: #17335294;
      color: white;
      text-align: center;
      padding:2px;
      margin-left: 30% ;
      margin-right: 30% ;
      } 

.mtg_Golden_card {
  background-image: url("../static/golden_card.png");
  }
.mtg_Green_card {
    background-image: url("../static/green_card.png");
  } 
.mtg_Red_card {
    background-image: url("../static/red_card.png");
} 
.mtg_Black_card {
  background-image: url("../static/Black_card.png");
}
.mtg_White_card {
  background-image: url("../static/White_card.png");
}  
.mtg_Blank_card {
  background-image: url("../static/blank_card.png");
}  
.mtg_Blue_card {
  background-image: url("../static/Blue_card.png");
}  

.mtg_Colorless_card {
  background-image: url("../static/Colorless_card.png");
}  

.mtg_Land_card {
  background-image: url("../static/Land_card.png");
}  


#card_name {
  /* background-color: white; */
  color: white;
  font-size: 16px;
  position: relative;
  /* left: 30px; */
  margin-top: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  /* display: inline; */
  width: 330px;
  margin-left: 30px;
  }

 #card_type {
    /* background-color: white; */
    color: white;
    font-size: 16px;
    position: relative;

    margin-top: 5px;
    margin-left: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }


 #card_pt {
  /* background-color: white; */
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  position: absolute;
  right:30px;
  bottom: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#card_illustration {
/* background-image: url("../static/zelda.png"); */
background-size: cover ;
width: 300px;
/* width: 76%; */
height: 245px;
/* height: 20%; */
background-repeat: no-repeat;
position: relative;

margin-left: 45px;
margin-top: 7px;
/* left: 12%;
top: 1%; */
}




#card_ability {
  width: 290px;
  height: 150px;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 50px;
  margin-top: 12px;
  /* margin: 5px; */
  
  font-size: 12px;
  white-space: normal;
  overflow: hidden;
  /* overflow: scroll; */
  text-overflow: ellipsis;
    }
 
    #footer {
      /* background-color: white; */
      color: white;
      width: 390px;
      text-align: center;
      bottom: 0px;
      position: absolute;
      font-size: 24px;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }

    a {color:white;}         /* Unvisited link  */
a:visited {color:whitesmoke;} /* Visited link    */

.no_bullet { 
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */ 
}    
  
.mana {
      position: absolute;
  
      right:0;
      font-size: 0px;
      margin: 0;
}

  .mana_symbol {
    
    width: 20px;
    padding: 0px; 

}
