<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="5; url='localhost:5000/load'" />
    <link rel="stylesheet" href="../static/main_iphone.css">
    <title>mAgIc the Hazarding</title>
</head>

<body>
    <div id="main_page">
        <h1><span>m</span><span style="color: red;">A</span><span>g</span><span style="color: red;">I</span><span>c the Hazarding</span></h1>
            
            
            <div class="mtg_card mtg_Blank_card">
                <h2>Generating Card</h2>
            </div>
        
        
       
    </div>
</body>
</html>