<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/goudy-mediaeval" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <script type="text/javascript" src="../static/js/index.js"></script>
    <title>mAgIc the Hazarding</title>
</head>

<body>
    <div id="main_page">
        <h1><span>m</span><span style="color: red;">A</span><span>g</span><span style="color: red;">I</span><span><a href="/">c the Hazarding</a></span></h1>
            
        {% if blank %}     
            <div class="mtg_card mtg_Blank_card">
                <div class = "card_form">
                    <form method="POST"
                        action="{{ url_for('generate_card') }}">
                        <!-- <input type="text"
                            theme="username"
                            placeholder="Choose your Theme"> -->      
                        <label id="labelbox">Card Name or Theme:</label>
                        <input type="text" id="theme" name="theme" required minlength="4" maxlength="36" size="16" />
                        <button id="botao" type="submit" onclick="myFunction()">Generate Card</button>
                    </form>
                </div>
                <div id="waiting" onloadstart="hide_div()">
                    <p>Wait! Our wizards are working on your new card...</p>
                </div>
                <div id="footer">
                    <a href="{{ url_for('load_random_card') }}">Give me any Card!</a>
                </div>
            </div>
        {% endif %}  
        
        {% if mtg_card %}     
            <div class="mtg_card mtg_{{ mtg_card.color_code }}_card">
                <div id="card_name">
                    <span>{{ mtg_card.name }}</span>
                    <span>{{ mtg_card.ntimes }}</span>
                    <span class="mana">
                        {% for mana in mtg_card.mana_cost %}
                        {% if mana %}
                          <img class="mana_symbol" src= "../static/img/{{ mana }}_mana.png">
                        {% endif %}
                        {% endfor %}
                    </span>
                    
                </div>

                <div id="card_illustration" style="background-image: url('../{{out_img_path}}{{ mtg_card.illustration }}');">
                </div>
         
                <div id="card_type">
                    <span>{{ mtg_card.type }}</span>
                    <span class="mana">
                        <img class="set_symbol" src= "../static/img/set_icon_black.png">
                     </span>
                </div>
                <div id="card_ability">
                    {% for ability in mtg_card.ability %}
                    {% if ability %}
                    <li class="no_bullet">{{ ability | safe }}</li>
                    {% endif %}
                    {% endfor %}
               </div> 
               <div id="card_credits">
                <span>Illus. mAgIc The Hazarding</span>
            </div>
            <div id="website">
              <span>magicai.datalabmaster.com</span>
          </div>
               {% if mtg_card.pt != 'N/A' %} 
                <div id="card_pt">
                        <span>{{ mtg_card.pt }}</span>
                    </div>
                {% endif %}
                <div id="footer">
                    <a href="{{ url_for('load_random_card') }}">Give me any Card!</a>
                </div>
                
            </div>
            
        {% endif %}             
        
    </div>

</body>

</html>